@tailwind base;
@tailwind components;
@tailwind utilities;



/* .navbar-bg {
  --s: 50px;
  control the size  

  background:
    linear-gradient(135deg, #0000 18.75%, #282828 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #282828 -6.25% 6.25%, #1d1e22 0 18.75%);
  background-size: var(--s) var(--s);

}  */



.swiper {

  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.cardBackground {
  scroll-margin-top: 10rem;
}

.cardBackground::before {
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, .8) 0%,
      rgba(0, 0, 0, .2) 25%,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, .6) 100%) !important;
  border-radius: 0 !important;
}

.boarderNone {
  border-radius: 0 !important;
}

.halfBlackImg::before {
  position: relative;
  content: "";
  background-color: black !important;
}

*::-webkit-scrollbar {
  width: 16px;
}


*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 255, 255);
}


* {
  scroll-margin-top: 50px;
}

.titleFont {
  font-family: Tahoma, sans-serif;
  /* font-family: 'Ubuntu Mono', monospace; */
}

.text-outline {
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;

}

.default-hidden {
  opacity: 0;

}

.show {
  animation: fadeIn 500ms forwards ease-in 100ms;
}

.visibleSkill {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  50% {
    transform: translateY(0);

  }

  100% {
    opacity: 1;
  }
}