@tailwind base;
@tailwind components;
@tailwind utilities;


/* .navbar-bg {
  --s: 50px;
  control the size  

  background:
    linear-gradient(135deg, #0000 18.75%, #282828 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #282828 -6.25% 6.25%, #1d1e22 0 18.75%);
  background-size: var(--s) var(--s);

}  */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}